* {
    margin: 0;
    padding: 0;
}

.bg-cover {
    background: url("../images/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}