* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
/*    height: 400vh;*/
}

#under-construction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
    height: auto;
    transition: all 1s;
}

#about-me-img {
    position: fixed;
    bottom: 0;
    left: 3vw;
    height: 100%;
    width: auto;
}

#logo {
    position: fixed;
    width: 6vh;
    height: 6vh;
    margin-top: 2vh;
    margin-left: 2vh;
    animation: pulse 1.5s infinite reverse ease-in-out;
}

#about-me-title {
    font-family: decalled;
    font-weight: normal;
    font-size: 10vw;
    color: #333333;
    position: fixed;
    left: 38vw;
    width: auto;
    z-index: 555;
    top: 48vh;
    transform: translate(0%, -50%);
}

#to-vincent {
    position: absolute;
    width: 50%;
    top: 35vh;
    left: 37vw;
    height: 50%;
}

#to-hemsheela, #to-vit {
    position: absolute;
    width: 5%;
    overflow: hidden;
    bottom: 0vh;
    right: 5vw;
    height: 20%;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #333;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

.section07 a {
    padding-top: 80px;
}

.section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

.section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

.section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

.section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#menu-container {
    height: 0vh;
    width: 0vh;
    background-color: #69b4f8;
    border-radius: 50%;
    position: fixed;
    left: 3%;
    top: 90%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
}

#menu-circle-layer {
    height: 0vh;
    width: 0vh;
    background-color: #92c7fb;
    border-radius: 50%;
    position: fixed;
    left: 5%;
    top: 95%;
    transform: translate(-50%, -50%);
    z-index: 60;
    opacity: 0;
}

#menu-icon {
    width: 4vh;
    height: 3vh;
    position: fixed;
    bottom: 0%;
    left: 0%;
    margin: 2vh;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 500;
}

#menu-icon span {
    display: block;
    position: absolute;
    height: 0.6vh;
    width: 100%;
    background: #111;
    border-radius: 0.6vh;
    box-shadow: 0 0 0.1vh 0.1vh rgba(50, 50, 50, 0.5);
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-icon span:nth-child(1) {
    top: 0vh;
}

#menu-icon span:nth-child(2) {
    top: 1.2vh;
}

#menu-icon span:nth-child(3) {
    top: 2.4vh;
}

#menu-icon.open span:nth-child(1) {
    top: 1.2vh;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#menu-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60vw;
}

#menu-icon.open span:nth-child(3) {
    top: 1.2vh;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#menu {
    height: 0vh;
    width: 0vw;
    position: absolute;
    top: 15%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#menu ul {
    height: 80%;
    width: 70%;
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    width: 0vw;
    font-family: megapolis;
    color: white;
    font-size: 3vh;
    padding: 1.2vh;
    letter-spacing: 1vw;
    text-shadow: 0 0 2vh rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
}

#menu ul li:hover {
    height: 4vh;
    width: 15vw;
    background-color: black;
    border-top-right-radius: 4vh;
    border-bottom-right-radius: 4vh;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.school-container {
    width: 75vw;
    height: 100vh;
    right: 0;
    position: absolute;
}

#vincent {
    top: 100vh;    
}

.img-school {
    width: auto;
    height: 40vh;
    position: absolute;
    top: 57%;
    z-index: 30;
    left: 55%;
    transform: translate(-50%, -50%);
}

.left-card {
    width: 30%;
    height: 65vh;
    border-radius: 20px;
    box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 57%;
    left: 30%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: url('../images/mat-bg.jpg');
    background-size: cover;
}

.right-card {
    width: 50%;
    height: 45vh;
    border-radius: 20px;
    box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 57%;
    left: 55%;
    z-index: 20;
    transform: translate(-50%, -50%);
    background: url('../images/mat-bg2.png');
    background-size: cover;
}

.school-name {
    position: absolute;
    top: 3%;
    text-align: center;
    width: 100%;
    left: 50%;
    z-index: 15;
    transform: translate(-50%, 0%);
    font-size: 35px;
    font-family: springtime;
    color: antiquewhite;
}

.school-icon {
    position: absolute;
    width: 6%;
    top: 57%;
    left: 15%;
    z-index: 15;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 50%;
    padding: 2%;
    transform: translate(-50%, -50%);
    
}

.school-board {
    position: absolute;
    bottom: 3%;
    text-align: center;
    width: 100%;
    left: 50%;
    z-index: 15;
    letter-spacing: 7px;
    transform: translate(-50%, 0%);
    font-size: 35px;
    font-family: springtime;
    color: antiquewhite;
}

.standard {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    left: 0%;
    z-index: 55;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.5);
    letter-spacing: 3px;
    transform: translate(-50%, -50%);
    font-size: 45px;
    font-family: springtime;
    color: #39ff14;
}

.duration {
    letter-spacing: 5px;
    position: absolute;
    top: -17%;
    text-align: center;
    width: 100%;
    left: 65%;
    z-index: 15;
    transform: translate(-50%, 0%);
    font-size: 35px;
    font-family: springtime;
    color: #333;
}

.stream {
    position: absolute;
    bottom: -17%;
    text-align: center;
    width: 100%;
    left: 65%;
    z-index: 15;
    transform: translate(-50%, 0%);
    font-size: 30px;
    font-family: springtime;
    color: #333;
}

#hemsheela {
    top: 200vh;    
}

#vit {
    top: 300vh;    
}
















@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    75% {
        transform: scale(1.1, 1.2);
    }
    87% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.2, 1.1);
    }
}

@font-face {
    font-family: 'megapolis';
    src: url('../fonts/megapolis.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'decalled';
    src: url('../fonts/decalled.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'magic';
    src: url('../fonts/magic.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'springtime';
    src: url('../fonts/springtime.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'unicorn';
    src: url('../fonts/unicorn.otf') format('opentype');
    font-weight: normal;
}
